@model Chronoscope.Web.ViewModels.SourceAuth.SourceAuthCompleteViewModel
@{
    ViewData["Title"] = Model.Title;
}

<header>
    <h1>@Model.Title</h1>
    <p>@Model.Message</p>
</header>

<article>
    <dl>
        <dt>Connected user</dt>
        <dd>@Model.DisplayName</dd>

        @if (!string.IsNullOrWhiteSpace(Model.EmailAddress))
        {
            <dt>Email</dt>
            <dd>@Model.EmailAddress</dd>
        }

        <dt>Drive ID</dt>
        <dd><code>@Model.DriveId</code></dd>
    </dl>
</article>
